@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Poppins:wght@300&family=Signika:wght@300;400;500&display=swap');
body
{
    font-family: 'Signika', sans-serif;
}
.form-title{
    font-size: 30px;
}
.giveborder{
    margin-left: 10%;
    width: 90%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    
}
.error-part{
    font-size: 12px;
    margin-bottom: 5px;
    color: red;
}
.registration-page{
    display: flex;
    justify-content: center;
}

.booking-content{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 80px 80px;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.material-icons-name{
    width: 10%;
    font-size: 10px;
}

.form-group{
    margin-bottom: 25px !important;
    width: 350px;
}
.form-groups{
    margin-bottom: 25px !important;
    width: 350px;
}
.form-groups .roshan{
    width: 90%;
    
}
.form-group .roshan{
    width: 80%;
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

#signup{
    all: unset;
    color: white;
    background-color: rgb(87, 143, 211);
    padding: 7px 23px;
    border-radius: 4px;
    cursor:pointer;
}
.signup-image{
    width: 45vw;
    width: 480px;
}

.signup-image img{
    width: 100%;
}

@media screen and  (max-width:900px) {
    .booking-content{
        flex-direction: column;
        align-items: center;
    }
    .signup-image{
        max-width: 300px;
    }
}

@media screen and  (max-width:600px) {
    .booking-content{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 50px 10px;
        background-color: rgb(255, 254, 254);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .material-icons-name{
        font-size: 15px;
    }
    .form-group{
        margin-bottom: 25px !important;
        width: 300px;
    }
    .form-group .roshan{
        width: 80%;
        
    }
    .form-groups{
        margin-bottom: 25px !important;
        width: 300px;
    }
    .form-groups .roshan{
        width: 90%;
        
    }
    .signup-image{
        max-width: 300px;
    }
    
    .margin-top{
        text-align: center;
        margin-top: 15px;
    }

}